PORT=8000
AI_PORT=8001

SECRET_KEY=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}

# Opt. sans clé PubMed est limité à 3 req/s (contre 10 avec clé)
# Gratuit sur : https://www.ncbi.nlm.nih.gov/account/
NCBI_API_KEY=

# Durée de vie du access token JWT
ACCESS_TOKEN_TTL=1h

# Durée de vie du refresh token en jours
REFRESH_TOKEN_TTL_DAYS=7
